<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Since the 13th century, the Tschopp family story has been one of courage, service, and steadfast devotion to
                    community, beginning in the historic town of Чоп, nestled in the fertile lowlands of Transcarpathia in modern day Ukraine near the borders of
                    Hungary and Slovakia. In these early years, our ancestors stood as defenders of Western Europe's eastern frontiers,
                    protecting their neighbors and common folk from threats and turmoil, earning a reputation for bravery and fairness. In
                    the 14th century, driven by resilience and hope, the some of the family journeyed westward, seeking new opportunities among the
                    valleys and mountains of Switzerland. There, surrounded by Alpine tranquility, our lineage flourished, blending Eastern
                    determination with Swiss craftsmanship and tradition. Today, our family tree proudly stretches across continents, with
                    descendants establishing vibrant communities and meaningful lives around the globe—united by shared history, enduring
                    values, and an ongoing commitment to innovation, service, and the preservation of our rich heritage for generations yet
                    to come.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1205 - 1235</h4>
                                    <h4 class="subheading">Simon Micz-bán</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our Father arrives in Transcarpathia from Spanish Aragon</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1235 - 1260</h4>
                                    <h4 class="subheading">Tämas is born to Simon Micz-bán</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chop was first mentioned in 1281 and is situated in the Tysa Lowland bordering nearby Hungary and Slovakia.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-inverted">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1282</h4>
                                    <h4 class="subheading">Tämas buys the domain of Чоп, Rát and Ásvány</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Чоп, Csap, Čop, Chop, Tschop, Czop, Csapi, Csapy, Csop is first mentioned in 1282 when Tämas buys and is granted Lordship. Чоп is situated in the Tysa Lowland bordering nearby Hungary and Slovakia.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1281</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chop was first mentioned in 1281 and is situated in the Tysa Lowland bordering nearby Hungary and Slovakia.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
