<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Since the 13th century, the Tschopp (Csapy) family story has been one of noble lineage, steadfast leadership, and unwavering
                    dedication to their people, beginning within the esteemed Baksa clan in the Kingdom of Hungary. The family’s earliest
                    known patriarch, Batk, emerges from history in records dating back to 1231. From his legacy sprang three sons—Tamás,
                    Szeped, and Merse—each carrying forward their father's noble name. Of these brothers, it was Tamás who became the
                    cornerstone of a lineage destined to shape history as the Csapy family.

                    Today, the descendants of this storied lineage carry forward a heritage defined by leadership, resilience, and
                    dedication, extending their ancestral legacy across borders and generations, continuously inspired by their noble
                    origins and committed to shaping a future reflective of their rich historical foundation.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Simon-Mikcs-Baksa.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1240 - 1261</h4>
                                    <h4 class="subheading">Simon Micz-bán</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Simon (Mikcs) Baksa, Tamás’s eldest son, is the critical link to the future Csapy family. He flourished between 1240 and 1261 and attained the rank of bán, underlining his high status. Simon Mikcs had a large family himself, and his children further branched out into various noble lineages of medieval Hungary. Notably, several of Simon’s sons became founders of new noble families.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Tamas-I-de-Csapi.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1282</h4>
                                    <h4 class="subheading">Tämas of of Simon Micz-bán de Csapi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tamás (I) de Csapi (fl. *c.*1280–1284) – Son of Simon Micz Bán; the earliest documented Csapi ancestor purchases the town of Csap (now Chop, Ukraine), from the Bechegregor clan.  In 1284, Tamás and his brothers received a royal grant of the estate Rát in Ung County as reward for their service (notably for fighting the Cumans). This established the family’s holdings in the northeast Carpathian region.</p>
                                </div>
                            </div>
                        </li>



                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Laszlo-de-Csapi.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1312 – 1320</h4>
                                    <h4 class="subheading">László (I) de Csapi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">László (I) de Csapi (fl. *c.*1312–1320) – Son of Tamás. Served as főispán (county lord) of Zemplén County, indicating the family’s rising influence. He married the daughter of a nobleman (Bodon ispán). By the early 14th century the Csapi were among the leading gentry in Upper Hungary.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Tamas-II-de-Csapi.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1282</h4>
                                    <h4 class="subheading">Tamás II “Dancs” de Csapi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tamás (II) “Dancs” de Csapi – Son of László I. Also referred to as Magister Donch. He succeeded his father as ispán of Patak, Zemplén, Liptó. He married Klára Tárkői, a noblewoman</p>
                                </div>
                            </div>
                        </li>




                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Andras-Csapi.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1418</h4>
                                    <h4 class="subheading">András Csapy Order of the Dragon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">András (Andrew) Csapy – A grandson or great-grandson of Tamás I (sources differ on exact placement). He is recorded as a royal courtier and in 1418 received a grant of arms from King Sigismund for distinguishing himself in battles against the Hussites. At the Council of Constance, Sigismund bestowed a joint coat-of-arms upon András Csapy along with members of the related Bocskai, Soós, Szerdahelyi, Szürthei, and Széchy families. This honor – which included membership and insignia in the Order of the Dragon – was a reward for their loyalty and military service  (It formally acknowledged their common ancestry and noble status.) András’s coat-of-arms became the basis for the family’s Hungarian heraldry.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Laszlo-de-Csapi.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1433 – 1434</h4>
                                    <h4 class="subheading">László Csapi at the Council of Basel</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">László Csapi, served as Sigismund’s court secretary and traveled to Rome in 1433 for the Emperor’s coronation. In
                                    1433 – 34 the Council of Basel hosted protracted negotiations with Hussite (Czech) delegates from Bohemia.  This created a
                                    Csapy presence in Basel for an extended period of time.</p>
                                </div>
                            </div>
                        </li>



                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Urs-Tschopp.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1455</h4>
                                    <h4 class="subheading">Urs Tschopp (Germanized Csapi) is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Urs Tschopp is born just 12 miles outside of Basel-Stadt in the city of Bubendorf</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Benedicht-Tschopp.webp" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1505 - 1545 </h4>
                                    <h4 class="subheading">Benedicht Tschopp is born in Bubendorf and moves to Basel-Stadt by his death</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Benedicht and his childen and their children live in and around Basel-Stadt and Basel-Landschaft
                                        for the next 400 years.</p>
                                </div>
                            </div>
                        </li>
                        

                    </ul>
                </div>
            </div>
        </div>
    </section>
